@import "tailwindcss";

:root {
  --background: #eee;
  --foreground: #111;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --breakpoint-3xl: 120rem;

  --animate-peeking-fox: peeking-fox 10s infinite;
  @keyframes peeking-fox {
    0%,
    40%,
    100% {
      transform: translateY(0px) rotate(0deg);
    }

    45% {
      transform: translateY(-70px) rotate(0deg);
    }

    47% {
      transform: translateY(-50px) rotate(0deg);
    }

    50% {
      transform: translateY(-65px) rotate(0deg);
    }

    62% {
      transform: translateY(-65px) rotate(5deg);
    }

    68% {
      transform: translateY(-65px) rotate(5deg);
    }

    78% {
      transform: translateY(-65px) rotate(-3deg);
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111;
    --foreground: #eee;
  }
}

body {
  @apply text-foreground bg-background;
}

html,
body,
body > div {
  @apply h-full overflow-hidden;
}

body > div {
  @apply flex flex-col;
}

h1 {
  @apply text-3xl m-2 mr-0;
}

h2 {
  @apply text-2xl m-2 mr-0;
}

h3 {
  @apply text-xl m-2 mr-0;
}

input,
textarea,
select {
  @apply p-2 border rounded;
}

button {
  @apply p-2 border rounded cursor-pointer;
}

@layer utilities {
  .border-groove {
    --tw-border-style: groove;
    border-style: groove;
  }

  .border-inset {
    --tw-border-style: inset;
    border-style: inset;
  }

  .border-ridge {
    --tw-border-style: ridge;
    border-style: ridge;
  }
}

@layer components {
  .app-center {
    @apply absolute top-1/2 left-1/2 -translate-1/2;
  }

  a.pre-preflight {
    @apply text-blue-700 dark:text-blue-300;

    &:hover {
      @apply text-blue-600 dark:text-blue-400 underline;
    }

    &:visited {
      @apply text-purple-700 dark:text-purple-300;
    }

    &:active {
      @apply text-orange-700 dark:text-orange-300;
    }

    &:focus {
      @apply outline-yellow-700 dark:outline-yellow-300;
    }
  }
}
