@import "tailwindcss";

:root {
  --background: #eee;
  --foreground: #111;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --breakpoint-3xl: 120rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111;
    --foreground: #eee;
  }
}

body {
  @apply text-foreground bg-background;
}

html,
body,
body > div {
  @apply h-full overflow-hidden;
}

body > div {
  @apply flex flex-col;
}

h1 {
  @apply text-3xl m-2 mr-0;
}

h2 {
  @apply text-2xl m-2 mr-0;
}

h3 {
  @apply text-xl m-2 mr-0;
}

input,
select {
  @apply p-2 border rounded;
}

button {
  @apply p-2 border rounded cursor-pointer;
}

@layer components {
  .app-center {
    @apply absolute top-1/2 left-1/2 -translate-1/2;
  }
}
